body {
  box-sizing: border-box;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

*, *:after, *:before {
  box-sizing: inherit;
}

.page-header {
  background-image: url("img/header.png");
}

.header {
  display: flex;
  margin-left: 98px;
  margin-right: 104px;
  padding-top: 38px;
}

.logo {
  margin-top: 15px;
  height: 20px;
  display: flex;
}

.nav-list {
  display: flex;
  margin-left: 89px;
  margin-right: 35px;
  list-style: none;
}

.nav-item {
  margin-right: 26px;

  font-family: "Mouse Memoirs", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #533738;
}

.phone-link {
  font-family: "Mouse Memoirs", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #533738;
  text-decoration: none;
}

.lead {
  margin-left: 184px;
  padding-bottom: 168px;
}

.lead-title {
  font-family: "Mouse Memoirs", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;

  color: #533738;
}

.text {
  /*margin-top: 24px;*/

  font-family: "Mouse Memoirs", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #533738;
}

.order-wrapper {
  padding: 25px 66px;
  /*margin-top: 24px;*/
  width: 309px;
  height: 74px;
  background-color: #cc8b86;
}

.btn.order {
  font-family: "Mouse Memoirs", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;

  color: #533738;
}

/* main */

.title {
  font-family: "Mouse Memoirs", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;

  text-transform: uppercase;

  color: #533738;
}

.about-us-content {
  background-color: #f1dcda;
  border: 1px solid #f1dcda; /* костыль */
  
}

.about-us-wrapper {
  display: flex;
  margin-left: 182px;
  margin-right: 182px;
}

.about-us-wrapper > img {
  order: -1;
  margin-top: 40px;
  margin-bottom: 20px;
}

.about-us-text {
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 63px;
}
