body {
  box-sizing: border-box;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.page-header {
  background-image: url("img/header.png");
}

.header {
  display: flex;
  margin-left: 98px;
  margin-right: 104px;
  padding-top: 38px;
}

.logo {
  margin-top: 15px;
  height: 20px;
  display: flex;
}

.nav-list {
  display: flex;
  /*margin-left: 89px; этот отсуп должен быть
  /*margin-right: 35px;*/
  list-style: none;
}

.nav-item {
  margin-right: 26px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #533738;
}

.nav-item:last-child {
  margin-right: 0; /* возможно отсуп не такой*/
}

.phone-link {
  text-decoration: none;
}

.lead {
  margin-left: 184px;
  padding-bottom: 168px;
}

.lead-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;

  color: #533738;
}

.text {
  /*margin-top: 24px;*/

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #533738;
}

.order-wrapper {
  padding: 25px 66px;
  /*margin-top: 24px;*/
  width: 309px;
  height: 74px;
  background-color: #cc8b86;
}

.btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;

  color: #533738;
}

/* main */

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;

  text-transform: uppercase;

  color: #533738;
}

.about-content {
  background-color: #efe6e4;
  border: 1px solid #efe6e4; /* костыль */
}

.about-wrapper {
  display: flex;
  margin-left: 182px;
  margin-right: 182px;
}

.about-wrapper > img {
  order: -1;
  margin-top: 40px;
  margin-bottom: 20px;
}

.about-text {
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 63px;
  margin-top: 15px; /* проблема с отступом*/
}

.achievments {
  background-color: #8d7370;
  border: 1px solid #8d7370;
}

.achievments-list {
  display: flex;
  justify-content: center;
  margin-top: 84px;
  margin-bottom: 80px;
  list-style: none;
}

.achievments-item {
  margin-right: 120px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;

  text-transform: uppercase;

  color: #ffffff;
}

.achievments-item:last-child {
  margin-right: 0; /** возможно другой отступ**/
}

.achievments-item > span {
  font-size: 50px;
  line-height: 62px;
}

.projects-content,
.reviews-content,
.page-footer {
  background-color: #efe6e4;
  border: 1px solid #efe6e4;
}

.projects-wrapper {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-wrap: wrap;
}

.studio {
  width: 488px;
  height: 451px;
  margin-right: 20px;
  margin-bottom: 30px;
  background-image: url("img/bed.png");
}

.studio-desc {
  width: 488px;
  height: 451px;
  background-color: #644845;
  opacity: 80%;
  border: 1px solid #644845; /* без этого он выпадает*/
}

.studio:last-child {
  margin-left: auto; /* без этого он липнет к предыдущему*/
  margin-right: 0;
}

.studio-text {
  margin-left: 35px;
  margin-right: 35px;
  color: #fff;
}

.studio-title {
  padding-top: 86px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;

  color: #ffffff;
}

.excerpt-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
}

.excerpt-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-decoration: none;

  color: #533738;
}

.excerpt-img {
  margin-left: 10px;
}

.team-content,
.work-process-content {
  background-color: #e2c4ba;
  border: 1px solid #e2c4ba;
}

.team-list {
  display: flex;
  margin-left: 181px;
  margin-right: 182px;
  list-style: none;
}

.team-item {
  margin-right: 38px;
  display: flex;
  flex-direction: column;
}

.team-item:last-child {
  margin-right: 0;
}

.team-item-desc {
  order: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #533738;
}

.team-item-pic {
  order: -1;
}

.work-process-item {
  text-align: center;
}

.review-desc {
  margin-top: 100px; /* 131px */
}

.reviews-slider {
  display: flex;
  margin-left: 283px;
  margin-right: 283px;
}

.text.review-caption {
  text-transform: uppercase;
  margin-left: 40px;
}

.review-pic {
  margin-top: 40px;
  margin-bottom: 41px;
}

.review-pic > img {
  margin-bottom: 24px;
}

/* */

.request-content {
  background-color: #8d7370;
  border: 1px solid #8d7370;
}

.request-wrapper {
  display: flex;
  margin-left: 181px;
  margin-right: 101px;
}

.white-title,
.text.request-desc {
  color: #fff;
}

.text.request-desc {
  opacity: 0.6;
}

input[type="text"],
input[type="tel"] {
  width: 508px;
  height: 35px;
  background-color: #8d7370;
  border: 1px solid #8d7370;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 35px;
}

::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #f6ede9;
}

.btn-2 {
  border: 1px solid #cc8b86;
}

/* */

.footer-wrapper {
  display: flex;
  margin: 37px 100px;
}

.number {
  margin-right: 42px;
}

.adress {
  margin-right: 370px; /* should be 379 */
}
